<div class="bg-dark">
  <div class="container">
    <mat-toolbar>
      <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Angular CRUD with Material UI</span>
      <span class="example-spacer"></span>
      <button (click)="createProduct()" class="add-btn" color="white" mat-button>+ Add product</button>
    </mat-toolbar>
  </div>
</div>

<div class="container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput placeholder="Text for search...">
  </mat-form-field>

  <div class="mat-elevation-z8">

    <table [dataSource]="dataSource" mat-table matSort>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="name">Name</th>
        <td *matCellDef="let row" mat-cell> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="category">Category</th>
        <td *matCellDef="let row" mat-cell> {{row.category |uppercase }} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="date">Date</th>
        <td *matCellDef="let row" mat-cell> {{row.date | date: "dd.MM.yyyy"}} </td>
      </ng-container>

      <ng-container matColumnDef="productCondition">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="productCondition">Product condition</th>
        <td *matCellDef="let row" mat-cell> {{row.productCondition}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="price">Price</th>
        <td *matCellDef="let row" mat-cell> {{row.price | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="comment">Comment</th>
        <td *matCellDef="let row" class="comment" mat-cell> {{row.comment | length: 40}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="">Action</th>
        <td *matCellDef="let row" mat-cell>
          <button (click)="updateProduct(row)" color="primary" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteProduct(row.key)" color="warn" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                   aria-label="Select page of users"></mat-paginator>
  </div>

</div>



